{
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "amd": false,
    "mocha": false,
    "jasmine": true
  },
  "globals": {},
  "rules": {
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-multi-spaces": [1, { "exceptions": { "VariableDeclarator": true, "ImportDeclaration": true } }]
//    "key-spacing": [1, { "align": "value" }]
  }
}
